---
layout: default
---
<div class="wrapper">
<div class="row">
  <div class="col-sm-3">
    <div class="card h-50">
      <img class="card-img-top" src="img/topleft.jpg" alt="Card image cap">
      <div class="card-block">
        <p class="card-text"><small class="text-muted">June 29, 2017</small></p>
        <h4 class="card-title">HTML和CSS入门-Udacity-左上</h4>
      </div>
    </div>
    <div class="card h-50">
      <img class="card-img-top" src="img/bottomleft.jpg" alt="Card image cap">
      <div class="card-block">
        <p class="card-text"><small class="text-muted">June 29, 2017</small></p>
        <h4 class="card-title">HTML和CSS入门-Udacity-左下</h4>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card h-100">
      <img class="card-img-bottom" src="img/middle.jpg" alt="Card image cap">
      <div class="card-block">
        <p class="card-text"><small class="text-muted">June 29, 2017</small></p>
        <h4 class="card-title">HTML和CSS入门-Udacity-中</h4>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card h-50">
      <img class="card-img-top" src="img/topright.jpg" alt="Card image cap">
      <div class="card-block">
        <p class="card-text"><small class="text-muted">June 29, 2017</small></p>
        <h4 class="card-title">HTML和CSS入门-Udacity-右上</h4>
      </div>
    </div>
    <div class="card h-50">
      <img class="card-img-top" src="img/bottomright.jpg" alt="Card image cap">
      <div class="card-block">
        <p class="card-text"><small class="text-muted">June 29, 2017</small></p>
        <h4 class="card-title">HTML和CSS入门-Udacity-右下</h4>
      </div>
    </div>
  </div>
</div>

{% if site.posts %}
  <div class='container'>
    <h3 class='bottom-space-1'>沉迷学习:</h3>
    {% for post in site.categories["life"] %}
    <a class='post-index-item' href="{{ post.url | prepend: site.baseurl }}">
      <span class='date'>{{ post.date | date_to_string }}</span>
      <span class='article'>{{ post.title }}</span>
    </a>
    {% endfor %}
  </div>
{% endif %}
</div>
