---
---

$duration-transition: 0.2s;
$brown: #534646;

@mixin vendor-property($property, $value) {
    @each $vendor in ('-moz-', '-webkit-', '-o-', '-ms-', '') {
        #{$vendor}#{$property}: #{$value};
    }
}

.posts li a {
  @include vendor-property('transition', 'color #{$duration-transition} ease-in-out, border-color #{$duration-transition} ease-in-out');
  border-bottom: dotted 1px;
  color: $brown;
  text-decoration: none;

  &:hover {
    border-bottom-color: transparent;
    color: $brown !important;
    text-decoration: none;
  }
}
