* {
    margin: 0;
}

html, body {
    height: 100%;
}

.container.post {
  margin: 30px;
}

ul.post li{
  padding: 0;
}

img { 
  width: 50%;
  margin: auto;
}

.slick-prev:before, .slick-next:before { 
    color: yellow;
}

.button{
    margin:0 auto 20px;
    width:auto;
}


