html {
  font-size: 1em;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #534646;    /*deep brown*/
}

img.brand {
  width: 70px;
}

/* navbar container*/
.default {
  margin: 0em auto 2em auto;
  position: relative;
  border-bottom-style: ridge;
  border-bottom-width： thin;
  border-bottom-color: #534646;
}

.nav-item {
  font-size: 1.2em;
  margin: auto 0.2em;
}

.navbar-text {
  font-size: 1.9em;
  font-weight: 300;
}

.carousel-item > img {
  margin: 0 auto;
}

.about {
  width: 600px;
  margin: 0 auto;
}

article {
  background: #FFDAB9; /* Peachpuff*/
  width: 700px;
  margin: 1em auto;;
  padding: 2em;
}

article h1{
  margin-top: 1em;
}

article a { color: #ff9900;}
article a:hover { color: #ffcc66 }


