footer {
  height:20px;
  text-align: center;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;width:100%;
}

* {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

img.brand {
  width: 70px;
}

.nav-container {
  margin: 0em auto 2em auto;
  position: relative;
  border-style: none none solid none;
  border-bottom-width： thin;
  border-bottom-color: #553C00;
}

.nav-item {
  font-size: 18px;
  margin: auto 2px;
}

.navbar-text {
  font-size: 30px;
  font-weight: 300;
}

.wrap {
  margin: 0 auto 1em auto;
}

img.about {
  width: 70%;
}

.copyright {
  font-size: 12px;
}

img.footer {
  width: 15px;
  text-align: center;
}

.list-group {
  width: 600px;
  margin: 0 auto;
}
  
.main-about {
  width: 600px;
  margin: 0 auto;
}

.row {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
}

.card-img-top {
  max-width:240px;
  height:auto;
}

.card-img-bottom {
  max-width: 600px;
  height: auto;
}
