* {
  margin: 0;
}

html, body {
  height: 100%;

}

footer {
  text-align: center;
}

.container.post {
  margin: 30;
}

ul.post li{
  padding: 0;
}

.navbar-brand > img {
  height: 30px;
  width: 30px;
}


.carousel-inner > .carousel-item > img {
  margin: 0 auto;
}

nav {
  margin-bottomï¼š-10%;
}
